__pycache__
.venv/

test/testcases/de/99_Luftballons.txt
test/testcases/fr/alorsOnDanse.txt
test/testcases/fr/nantes.txt
test/testcases/ru/cuckoo.txt
test/testcases/ru/packOfCigarettes.txt

test/generatedResult